In [1]:
#importing all the necessary library here
import pandas as pd

In [6]:
#reading CSV File or Upload
tableData = pd.read_csv('VolumeAndNVbySymbol_wRand.csv')
#print(tableData.describe)
print(tableData.dtypes)

Time            object
SYMBOL_NAME     object
NV_rand        float64
VOLUME_rand    float64
dtype: object

In [9]:
#getting the number of rows
totalRows = len(tableData)
print(totalRows)
# it is printing 643214 which is correct

643214

In [18]:
#setting pandas to display values in decimal notation
pd.set_option('display.float_format','{:.2f}'.format)

In [26]:
#get the numerical column only
numericColumns = tableData.select_dtypes(include=['number']).mean()
print(numericColumns)

NV_rand       1734836.19
VOLUME_rand     32226.43
dtype: float64

In [31]:
#section to process time based column
tableData['Time'] = pd.to_datetime(tableData['Time'])
#print(tableData)
#printing min time
minTime = tableData.min()
print(f"Minimum Time: {minTime['Time']}")
#printing max time
maxTime = tableData.max()
print(f"Maximum Time: {maxTime['Time']}")

Minimum Time: 2021-09-20 09:30:00
Maximum Time: 2021-09-21 16:00:00